
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h3> Your login code </h3>
            <hr />
        </div>
    </div>

    <div class="row">
        <br />
        <div class="col-md-12">
            <p>Copy and paste the following code on our website.</p>
            <strong>{{ code }}</strong>

        </div>

    </div>

