{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <hr />
            <h3> Please sign in </h3>
            <hr />
        </div>
    </div>

    <div class="row">
        <br />
        <div class="col-md-12">

            <form class="form-signin" action="{{ path('login') }}" method="POST">
                <div class="form-group">
                    <label for="_username" class="sr-only">Username</label>
                    <input type="text" name="_username" id="_username" class="form-control" placeholder="Username" required autofocus>
                </div>

                <div class="form-group">
                    <label for="_password" class="sr-only">Password</label>
                    <input type="password" name="_password" id="_password" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>

            </form>
        </div>

    </div>



{% endblock %}